<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGGHWEFYKJ-MQzVyxVmIgGTUWm4Q1avOo</string>
	<key>GCM_SENDER_ID</key>
	<string>368756125372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.validic.test</string>
	<key>PROJECT_ID</key>
	<string>hebbars-kitchen-new-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hebbars-kitchen-new-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368756125372:ios:5d4d203e2139d5bd0a2ab9</string>
</dict>
</plist>